input[type=text] {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 50px;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}
#searchbar {
    padding:10px 20 px;
    background:rgba(50,50,50,0.2);
    border:7px solid #dbdbdb;
}

.linkname {
    display: list-item;
}